# Analysis of  Zomato Bangalore Restaurant dataset


Loading the dataset: Load the data and import the libraries.

Data Cleaning:
Deleting redundant columns.

Renaming the columns.

Dropping duplicates.

Cleaning individual columns.

Remove the NaN values from the dataset

Some Transformations

Data Visualization

In [1]:
#importing Required library 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
#importing plotly Library
from plotly.offline import iplot
import plotly as py
import plotly.tools as tls
import cufflinks as cf
py.offline.init_notebook_mode(connected=True) #Turning on notebook mode 
cf.go_offline()

In [3]:
#importing the datase

df=pd.read_csv(r"C:\Users\Nitin Gaikwad\zomato.csv")
df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x9d in position 101752: invalid start byte

In [ ]:
import pathlib
 
# current working directory
print(pathlib.Path().absolute())

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
del df["url"]
del df["address"]
del df["phone"]

In [ ]:
# Duplicates values
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
#checking the NaN values
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull(), cbar=False)

In [ ]:
del df["dish_liked"]

In [ ]:
df.dropna(how='any',inplace=True)

In [ ]:
#checking the NaN values
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull(), cbar=False)

In [ ]:
#Reading Column Names
df.columns

In [ ]:
#Changing the column names
df = df.rename(columns={'approx_cost(for two people)':'cost','listed_in(type)':'type',
                                  'listed_in(city)':'city'})
df.columns

In [ ]:
df.head()

In [ ]:
df.cost.unique()

In [ ]:
print(type(df['cost'])) # = df['cost'].astype(float)

In [ ]:
#Some Transformations
df['cost'] = df['cost'].astype(str) #Changing the cost to string
df['cost'] = df['cost'].apply(lambda x: x.replace(',','')) #Using lambda function to replace ',' from cost
df['cost'] = df['cost'].astype(float) # Changing the cost to Float
df.info() # looking at the dataset information after transformation

In [ ]:
print(type(df['cost']))

In [ ]:
df['rate'].unique()

In [ ]:
#Removing '/5' from Rates
df = df.loc[df.rate !='NEW'] #Removed rows which were having "new"
df = df.loc[df.rate !='-'].reset_index(drop=True) #Removed rows which were having "-"
remove_slash = lambda x: x.replace('/5', '') if type(x) == np.str else x #Function 
df.rate = df.rate.apply(remove_slash).str.strip().astype('float')#apply function to col
df['rate'].head() # looking at the dataset after transformation

In [ ]:
df.info()

In [ ]:
df.online_order.value_counts().plot.pie(fontsize = 18, autopct = '%.2f')

In [ ]:
df.book_table.value_counts().plot.pie(fontsize = 18, autopct = '%.2f')

In [ ]:
cat_cols = ['online_order','book_table','type','city']
i=0
while i < 4:
    fig = plt.figure(figsize=[20,5])
    
    
    
    plt.subplot(1,2,1)
    sns.countplot(x=cat_cols[i], data=df)
    plt.xticks(rotation=45)
    i += 1
    
    
    plt.subplot(1,2,2)
    sns.countplot(x=cat_cols[i], data=df)
    plt.xticks(rotation=90)
    i += 1
    
    plt.show()

# Largest Food Chain in Bangalore

In [ ]:
df.name.value_counts().head(30).iplot(kind="bar")

# Most Popular Restaurant types

In [ ]:
df.rest_type.value_counts().head(30).iplot(kind="bar")

In [ ]:
df.describe()

In [ ]:
num_cols = ['cost','rate','votes','cost']
i=0
while i < 4:
    fig = plt.figure(figsize=[13,3])
    #ax1 = fig.add_subplot(121)
    #ax2 = fig.add_subplot(122)
    
    #ax1.title.set_text(num_cols[i])
    plt.subplot(1,2,1)
    sns.boxplot(x=num_cols[i], data=df)
    i += 1
    
    #ax2.title.set_text(num_cols[i])
    plt.subplot(1,2,2)
    sns.boxplot(x=num_cols[i], data=df)
    i += 1
    
    plt.show()

# Expensive Restaurants in Bangalore

In [ ]:
#pd.set_option("display.max_rows", None, "display.max_columns", None)
df[df.cost>3000].sort_values(ascending=False,by="cost")

Expensive Restaurants Don't take online orders but table booking is Available.

Majority of Expensive Restaurants are having ratings above 4.

In [ ]:
df[df.cost>3000].sort_values(ascending=False,by="cost")

In [ ]:
x=df[df.cost>3000] 
x=x.sort_values(ascending=False,by="cost")
x=x.location.value_counts()

In [ ]:
x.iplot(kind="bar")

# Where are most of the expensive Restaurants are located ?

In [ ]:
df[df.cost>3000].sort_values(ascending=False,by="cost").location.value_counts().iplot(kind="bar")

 Majority of Expensive Restaurants are located in Residency Road

In [ ]:

df[df.cost>3000].rest_type.value_counts().iplot(kind="bar")

 Majority of Expensive Restaurants are Fine Dining.

# Ratings by Type of Restaurants

In [ ]:
rate_type=pd.crosstab(df['rate'],df['type'])
rate_type.iplot(kind="bar",barmode="stack")

In [ ]:
rate_type

In [ ]:
df.sort_values(ascending=False,by="votes").head(10)

# Restaurants per location

In [ ]:
df["location"].value_counts().head(20).iplot(kind="bar")

In [ ]:
plt.figure(figsize=(10,5))
sns.scatterplot(x="rate",y='cost',hue='online_order',data=df,style="book_table")
plt.show()

# Best Economical Restaurants

In [ ]:
df[(df["cost"]<=100) & (df["rate"]>=4)].sort_values(by=["rate"],ascending=False)

# Where are most of the best chepest  Restaurants are located ?

In [ ]:
df[(df["cost"]<=100) & (df["rate"]>=4)].sort_values(by=["rate"],ascending=False).location.value_counts().iplot(kind="bar")

Best Cheap Restaurants are located at Basavangudi,jayanagar,malleshwaram & HSR

In [ ]:
df["cost"].mean()

# Best Average cost Restaurants

In [ ]:
df[(df["cost"]<=df["cost"].mean()) & (df["rate"]>=4) ].sort_values(by=["rate"],ascending=False)

In [ ]:
df["cost"].mean()

# Popular cuisines in Bangalore

In [ ]:
df.cuisines.value_counts().sort_values(ascending = False).head(10).iplot(kind="bar")

 North indian ,Chinese & South indian are some of the popular cuisines in Bangalore

# Average Cost by Location

In [ ]:
resbyloc=df.groupby("location")

In [ ]:
resbyloc.mean()

In [ ]:
resbyloc.mean().sort_values(by="cost").iplot(kind="bar",barmode="stack")

# Finding best Restaurants by Cost & Location

In [ ]:
print(" Cost for 2 :")
res_cost=float(input(""))
print("Location : ")
res_loc=input("")
def top_rest(res_cost,res_loc):
    x=df[(df["cost"]<=res_cost) & (df["rate"]>=4) & (df["location"]==res_loc) ].sort_values(by=["rate"],ascending=False)
    return x
top_rest(res_cost,res_loc)